.teamana, .teamari, .teambos, .teambuf, .teamcar, 
.teamcbj, .teamcgy, .teamchi, .teamcol, .teamdal, 
.teamdet, .teamedm, .teamfla, .teamlak, .teammin, 
.teammtl, .teamnjd, .teamnsh, .teamnyi, .teamnyr, 
.teamott, .teamphi, .teampit, .teamsjs, .teamstl, 
.teamtbl, .teamtor, .teamvan, .teamwpg, .teamwsh
{ display: inline-block; background: url('../img/team-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.teamana { background-position: -5px -0px; width: 24px; height: 24px; }
.teamari { background-position: -34px -0px; width: 24px; height: 24px; }
.teambos { background-position: -63px -0px; width: 24px; height: 24px; }
.teambuf { background-position: -92px -0px; width: 24px; height: 24px; }
.teamcar { background-position: -121px -0px; width: 24px; height: 24px; }
.teamcbj { background-position: -5px -29px; width: 24px; height: 24px; }
.teamcgy { background-position: -34px -29px; width: 24px; height: 24px; }
.teamchi { background-position: -63px -29px; width: 24px; height: 24px; }
.teamcol { background-position: -92px -29px; width: 24px; height: 24px; }
.teamdal { background-position: -121px -29px; width: 24px; height: 24px; }
.teamdet { background-position: -5px -58px; width: 24px; height: 24px; }
.teamedm { background-position: -34px -58px; width: 24px; height: 24px; }
.teamfla { background-position: -63px -58px; width: 24px; height: 24px; }
.teamlak { background-position: -92px -58px; width: 24px; height: 24px; }
.teammin { background-position: -121px -58px; width: 24px; height: 24px; }
.teammtl { background-position: -5px -87px; width: 24px; height: 24px; }
.teamnjd { background-position: -34px -87px; width: 24px; height: 24px; }
.teamnsh { background-position: -63px -87px; width: 24px; height: 24px; }
.teamnyi { background-position: -92px -87px; width: 24px; height: 24px; }
.teamnyr { background-position: -121px -87px; width: 24px; height: 24px; }
.teamott { background-position: -5px -116px; width: 24px; height: 24px; }
.teamphi { background-position: -34px -116px; width: 24px; height: 24px; }
.teampit { background-position: -63px -116px; width: 24px; height: 24px; }
.teamsjs { background-position: -92px -116px; width: 24px; height: 24px; }
.teamstl { background-position: -121px -116px; width: 24px; height: 24px; }
.teamtbl { background-position: -5px -145px; width: 24px; height: 24px; }
.teamtor { background-position: -34px -145px; width: 24px; height: 24px; }
.teamvan { background-position: -63px -145px; width: 24px; height: 24px; }
.teamwpg { background-position: -92px -145px; width: 24px; height: 24px; }
.teamwsh { background-position: -121px -145px; width: 24px; height: 24px; }